.wrapper {
	//background: rgba(255,0,0,0.1);
}
.slider-home {
	 height: 350px;
	 @include min-screen($tablet-p) { 
		height: 650px;
	 }
	.lista-slider {
		li {
			background-image: url(../images/slider1.jpg);
			background-repeat:no-repeat;
			background-position: top center;
			background-color:gray;
			background-size:cover;
			height: 350px;
			@include min-screen($tablet-p) { 
				height: 650px;
			 }
		}
	}


	.bx-wrapper {
	    box-shadow: none;
	    border: none;
	    background: #fff;
	    margin-bottom: 0;
	    .bx-pager, .bx-controls-auto {
		    bottom: 30px;
		}
		.bx-next {
		    background: url(../images/right.png) no-repeat 0 0;
		}

		.bx-prev {
		    background: url(../images/left.png) no-repeat 0 0;
		}

		.bx-controls-direction a {
		    width: 24px;
		    height: 41px;
		}
	}

}




.promo-reloj {
	//background-image: url(../images/promo-reloj.jpg);
	background-image: url(../images/bg.zapato.png);
	background-repeat: no-repeat;
	background-color: #141a17;
	height: 266px;
	overflow:hidden;
	padding:0 0 0 125px;
	position:relative;
	.box-reloj {
		width: 197px;
		float: left;
	}

	.detalle-reloj {
		//display:flex;
	    height: 100%;
	    display: inline-block;

		.texto-info {
			    width: 300px;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    align-content: center;
			    display: flex;
			    margin: 0 0 0 74px;
			    height: inherit;
			h2 {
				color:white;
				font-family: 'Gadugi';
			}
			span {
				display: block;
			}
		}
	}

}

.list-box-reloj {
	background-image: url(../images/boxes.jpg);
	height: 606px;
	background-size:cover;
	background-repeat: no-repeat;
}




.btn-producto {
    /* width: 200px; */
    /* height: 50px; */
    background: #b3935c;
    text-transform: uppercase;
    color: black;
    /* padding: 20px; */
    display: inline-block;
    text-align: center;
    padding: 12px 42px;
    font-family: Gadugi;
    font-weight: bold;
    position: absolute;
    bottom: 42px;
    margin-right: 35px;
    right: 0;
}

span.code {
    position: absolute;
    top: 0;
    color: #dbdbdb;
    text-align: right;
    right: 0;
    padding: 10px;
    font-size: 13px;
    margin-right: 10px;
}