// Librerias sass
@import '../componentes/normalize-scss/normalize';
@import '../componentes/sass-mediaqueries/media-queries';

// Dependecias del proyecto
@import 'variables';
@import 'ayudas';
@import 'fuentes';

// Patrones
@import 'generales';

// Secciones
@import 'home';