header.header
    .contenedor
        .slider-home
            ul.lista-slider
                li
                    .box-slier
                li
                   .box-slier
                li
                    .box-slier

