extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Empresa', seccion: 'Home'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    mainm.main-home
        .contenedor
            .promo-reloj
                .box-reloj
            .list-box-reloj

            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem reprehenderit, quaerat qui sapiente laboriosam
