extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Empresa', seccion: 'Home'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    main
