doctype html
html(lang='es')
    head
        block title
        meta(charset='utf-8')
        block description
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='images/favicon.png', type='image/png')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')

    body
        .wrapper
            include ../includes/header

            block content

            include ../includes/footer

        script(src='js/recursos.js')
        script(src='js/main.js')
